[submodule "libs/AFNetworking"]
	path = libs/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "libs/MagicalRecord"]
	path = libs/MagicalRecord
	url = git://github.com/magicalpanda/MagicalRecord.git
[submodule "libs/SVProgressHUD"]
	path = libs/SVProgressHUD
	url = git://github.com/samvermette/SVProgressHUD.git
